.container__small-card {
  width: 700px;
  margin-bottom: 20px;
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.small-card__photo > img {
  width: 200px;
  object-fit: cover;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card__bottom {
  margin-top: 10px;
}

.small-card__bottom hr {
  border-color: rgba(255, 255, 255, 0.150);
}