@media screen and (max-width: 900px) {
  .small-card__title > h1 {
    font-size: 26px;
  }
}

@media screen and (max-width: 800px) {
  .container__small-card {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 48px;
  }

  .small-card__photo > img {
    width: 100%;
    object-fit: cover;
  }

  .container__small-card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

