<app-menu-title></app-menu-title>

@if (groupedArticles.length > 0) {
  @for (group of groupedArticles; track group.big?.id; let i = $index) {
    <div class="container__articles">

      @if (group.big && group.smalls.length >= 3) {
        <div class="articles__main">
          <app-big-card
            [Id]="group.big.id"
            [photoCover]="group.big.photoCover"
            [cardTitle]="group.big.title"
          ></app-big-card>
        </div>

        <div class="articles__others">
          @for (small of group.smalls; track small.id) {
            <app-small-card
              [Id]="small.id"
              [photoCover]="small.photoCover"
              [cardTitle]="small.title"
            ></app-small-card>
          }
        </div>

      } @else {
        <div class="articles__others">
          @if (group.big) {
            <app-small-card
              [Id]="group.big.id"
              [photoCover]="group.big.photoCover"
              [cardTitle]="group.big.title"
            ></app-small-card>
          }
          @for (small of group.smalls; track small.id) {
            <app-small-card
              [Id]="small.id"
              [photoCover]="small.photoCover"
              [cardTitle]="small.title"
            ></app-small-card>
          }
        </div>
      }

    </div>
  }
}
