.container__menu-bar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 0 64px;
  max-width: 1200px;
  margin: 0 auto;
}

.container__menu-bar > ul{
  display: flex;
  flex-direction: row;
}

.container__menu-bar > ul li {
  list-style: none;
  margin-right: 10px;
}